<?xml version="1.0"?>
<launch>

    <arg name="map_file" value="$(find nanny_navigation)/maps/map.yaml"></arg>
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)"></node>

    <arg name="set_base_frame" default="base_link"/>
    <arg name="set_laser_frame" default="front_laser_scan"/>
    <arg name="set_odom_frame" default="odom"/>
    <arg name="set_map_frame" default="map"/>

    <node pkg="amcl" type="amcl" name="amcl" output="screen">
	<remap from="scan" to="$(arg set_laser_frame)"/>
	<param name="use_map_topic" value="true"/>
        <param name="base_frame_id" value="$(arg set_base_frame)"/>
        <param name="odom_frame_id" value="$(arg set_odom_frame)"/>
	<param name="odom_model_type" value="diff-corrected"/>
        <param name="global_frame_id" value="$(arg set_map_frame)"/>
	<rosparam command="load" file="$(find nanny_navigation)/config/localization_params.yaml" />
    </node>

</launch>
