<?xml version="1.0"?>
<launch>

    <arg name="set_base_frame" default="base_link"/>
    <arg name="set_laser_frame" default="front_laser"/>
    <arg name="set_odom_frame" default="odom"/>
    <arg name="set_map_frame" default="map"/>

    <node pkg="gmapping" type="slam_gmapping" name="nanny_slam_gmapping" output="screen">
        <param name="base_frame" value="$(arg set_base_frame)"/>
        <param name="laser_frame" value="$(arg set_laser_frame)"/>
        <param name="odom_frame" value="$(arg set_odom_frame)"/>
        <param name="map_frame" value="$(arg set_map_frame)"/>
        <rosparam command="load" file="$(find nanny_navigation)/config/gmapping_params.yaml" />
        <remap from="/scan" to="/front_laser_scan"/>
    </node>

</launch>